h1,
h2 {
    color: $primary-color;
    font-size: 5rem;
}
h3 {
    color: $danger-color;
    font-size: 3rem;
}
h4 {
    color: $blue-200;
}
label {
    font-size: 1.4rem;
}
button {
    position: relative;
    border: 1px solid $gray-100;
    background-color: $white;
    padding: 1rem 2rem;
    border-radius: .6rem;
    z-index: 1;
    &:hover {
        border-color: $red-200;
        color: $red-200;
    }
}
h1 {
    width: 13rem;
    height: 13rem;
    background: url(./../images/front-logo.svg) no-repeat center;
}
.btn-link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-height: 14rem;
    min-width: 14rem;
    padding: 2.5rem 4rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 700;
    color: rgba(255,255,255,.3);
    background-color: rgba(255,255,255,.3);
    border: 1px solid rgba(255,255,255,.3);
    box-shadow: .6rem .6rem 3rem .8rem rgba(0,0,0,.1);
    border-radius: 2rem;
    backdrop-filter: blur(.5rem);
    -webkit-backdrop-filter: blur(.5rem);
    z-index: 1;
    transition: all .3s;
    &:hover {
        color: rgba(255,255,255,1);
        margin-top: -1.5rem;
        min-width: 18rem;
    }
    p {
        font-size: 1.8rem;
        font-weight: 400;
        &.tit {
            font-size: 3rem;
            margin-bottom: 1rem;
            span {
                font-weight: 700;
            }
        }
    }
}
.lottie-area {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 8rem;
    height: 6rem;
    z-index: 3;
}
.mp-area {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    > video {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 130%;
        height: 130%;
    }
}
main {
    position: relative;
    height: 100%;
}
aside {
    position: fixed;
    width: 8rem;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    transition: all .3s;
    &.active {
        width: 30rem;
    }
    > ul {
        position: relative;
        height: 100%;
        border-right: 1px solid rgba(255,255,255,.7);
        background-color: rgba(255,255,255,.7);
        backdrop-filter: blur(.5rem);
        -webkit-backdrop-filter: blur(.5rem);
        box-shadow: 0 .2rem 2rem 1rem rgba(0,0,0,.05);
        > li {
            height: 6rem;
            > a {
                display: flex;
                align-items: center;
                width: 8rem;
                height: 6rem;
                border-bottom: 1px dashed rgba(0,0,0,.2);
                text-decoration: none;
                font-size: 1.4rem;
                transition: all .3s;
                &.btn-home {
                    height: 8rem;
                    background: url(./../images/front-logo.svg) no-repeat right;
                    background-size: 8rem;
                }
            }
            &:has(.btn-home) {
                height: 8rem;
                overflow: hidden;
            }
        }
    }
    &.active {
        > ul {
            > li {
                > a {
                    width: 100%;
                    &.btn-home {
                        width: 100%;
                    }
                }
            }
        }
    }
    > .btn-menuToggle {
        position: absolute;
        display: block;
        right: -8rem;
        top: 2rem;
        width: 6rem;
        height: 6rem;
        padding: 0;
        border-radius: 50%;
        border: 1px dashed black;
        background-color: rgba(255,255,255,.7);
        backdrop-filter: blur(.5rem);
        -webkit-backdrop-filter: blur(.5rem);
        box-shadow: 0 .2rem 1.5rem .5rem rgba(0,0,0,.05);
        animation: ball 7s linear Infinite;
    }
}
.card {
    min-width: 15rem;
}

@keyframes ball {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* 스크롤트리거 테스트 */
.box {
    width: 40rem;
    height: 40rem;
    display: block;
    position: relative;
    &.t01 {
        background-color: $blue-100;
    }
    &.t02 {
        background-color: $blue-200;
    }
    &.t03 {
        width: 60rem;
        height: 20rem;
        background-color: $red-100;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    &.t04 {
        background-color: $red-200;
    }
}
