h1,
h2 {
    color: $primary-color;
    font-size: 5rem;
}
h3 {
    color: $black;
    font-size: 4rem;
}
h4 {
    color: $black;
    font-size: 3rem;
}
label {
    font-size: 1.4rem;
}
button {
    position: relative;
    border: 1px solid $gray-100;
    background-color: $white;
    padding: 1rem 2rem;
    border-radius: .6rem;
    font-size: 1.6rem;
    z-index: 1;
    color: $gray-100;
    &:hover {
        border-color: $blue-100;
        background-color: $blue-100;
        color: $white;
    }
}
h1 {
    width: 13rem;
    height: 13rem;
    background: url(./../images/front-logo.svg) no-repeat center;
}
.noscroll {
    overflow: hidden;
}
pre {
    background-color: $black;
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 1rem 0 0 0;
    padding: 0 3rem;
    border-radius: 2rem;
    overflow: auto;
}
.code-blue {
    color: $code-blue;
}
.code-lingtblue {
    color: $code-lingtblue;
}
.code-lingtblue2 {
    color: $code-lingtblue2;
}
.code-yellow {
    color: $code-yellow;
}
.code-orange {
    color: $code-orange;
}
.code-purple {
    color: $code-purple;
}
.code-green {
    color: $code-green;
}
.btn-link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-height: 14rem;
    min-width: 14rem;
    padding: 2.5rem 4rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 700;
    color: rgba(255,255,255,.3);
    background-color: rgba(255,255,255,.3);
    border: 1px solid rgba(255,255,255,.3);
    box-shadow: .6rem .6rem 3rem .8rem rgba(0,0,0,.1);
    border-radius: 2rem;
    backdrop-filter: blur(.5rem);
    -webkit-backdrop-filter: blur(.5rem);
    z-index: 1;
    transition: all .3s;
    &:hover {
        color: rgba(255,255,255,1);
        margin-top: -1.5rem;
        min-width: 18rem;
    }
    & + .btn-go {
        border: 1px solid rgba(255,255,255,.5);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7rem;
        height: 7rem;
        font-size: 1.8rem;
        color: rgba(255,255,255,.5);
        margin-top: 1.5rem;
        text-decoration: none;
        transition: all .3s;
        animation: fadeInOut 2s linear infinite;
        &:hover {
            border: 1px solid rgba(255,255,255,1);
            color: rgba(255,255,255,1);
        }
    }
    // &:hover {
    //     & + .btn-go {
    //         opacity: 1;
    //         font-size: 1.8rem;
    //     }
    // }
    p {
        font-size: 1.8rem;
        font-weight: 500;
        &.tit {
            font-size: 3rem;
            margin-bottom: 1rem;
            span {
                font-weight: 800;
            }
        }
    }
}
.lottie-area {
    position: absolute;
    left: .35rem;
    bottom: 2rem;
    width: 8rem;
    height: 8rem;
    z-index: 3;
}
.mp-area {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    > video {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 130%;
        height: 130%;
    }
}
main {
    position: relative;
    height: 100%;
    &:has(footer) {
        > section {
            min-height: 100%;
        }
    }
}
aside {
    position: fixed;
    width: 8rem;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    transition: all .3s;
    &.active {
        width: 30rem;
    }
    > ul {
        position: relative;
        height: 100%;
        border-right: 1px solid rgba(255,255,255,.7);
        background-color: rgba(255,255,255,.7);
        backdrop-filter: blur(.5rem);
        -webkit-backdrop-filter: blur(.5rem);
        box-shadow: 0 .2rem 2rem 1rem rgba(0,0,0,.05);
        > li {
            height: 6rem;
            > a {
                display: flex;
                align-items: center;
                width: 8rem;
                height: 6rem;
                justify-content: center;
                text-decoration: none;
                font-size: 1.4rem;
                transition: all .3s;
                color: $gray-100;
                font-weight: 700;
                position: relative;
                &.btn-home {
                    height: 8rem;
                    background: url(./../images/front-logo.svg) no-repeat right;
                    background-size: 8rem;
                }
            }
            &:has(.btn-home) {
                height: 8rem;
                overflow: hidden;
            }
            &.on {
                > a {
                    color: $blue-100;
                    > span {
                        position: relative;
                        &:before {
                            content: "";
                            position: absolute;
                            display: block;
                            left: 0;
                            bottom: -.3rem;
                            width: 100%;
                            height: .3rem;
                            background-color: $blue-100;
                        }
                    }
                }
            }
        }
    }
    &.active {
        > ul {
            > li {
                > a {
                    width: 100%;
                    &.btn-home {
                        width: 100%;
                    }
                }
            }
        }
    }
    > .btn-menuToggle {
        position: absolute;
        display: block;
        right: -7rem;
        top: 1rem;
        width: 6rem;
        height: 6rem;
        padding: 0;
        border-radius: 50%;
        border: none;
        background: #fff url(./../images/common/btn-sidemenu.svg) no-repeat center;
        animation: ball 10s linear Infinite;
    }
}
.dim {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 2;
}
aside {
    &.active + .dim {
        display: block;
        animation: fadeIn .5s linear;
    }
}
.card {
    min-width: 15rem;
}

@keyframes ball {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInOut {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1rem);
    }
    100% {
        transform: translateY(0);
    }
}

ul {
    li {
        font-size: 1.6rem;
    }
}

.skills {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: end;
    .txt-xlarge {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1;
        margin-right: .5rem;
    }
    .txt-large {
        font-size: 2.6rem;
        font-weight: 700;
        line-height: 1;
        margin-right: .5rem;
    }
}
.pr-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    .pr-card {
        width: calc(50% - 1rem);
    }
}
.pr-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: .5rem .5rem 1rem .5rem rgba(0,0,0,.08);
    border-radius: 2rem;
    padding: 2.5rem 3rem 2rem;
    transition: all .3s;
    .txt-small {
        font-size: 1.3rem;
        color: $gray-200;
        width: 7rem;
        display: inline-block;
    }
    .txt-large {
        font-size: 2rem;
        font-weight: 700;
    }
    .txt-skills:not(:first-child) {
        margin-left: 1.5rem;
    }
    &:hover {
        transform: translateY(-1rem);
    }
    &.v2 {
        .mt-10 {
            border-top: 1px dashed rgba(0,0,0,.15);
            padding-top: 2rem;
        }
        &:hover {
            transform: translateY(0);
        }
    }
}

.con01-fadin {
    opacity: 0;
    transform: translateY(-10rem);
    // animation: con01fadeOut .5s linear;
    // -webkit-animation-fill-mode:both;
    &.zoom {
        animation: con01fadeIn .5s linear;
        -webkit-animation-fill-mode:both;
    }
}
@keyframes con01fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes con01fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10rem);
    }
}

/* 스크롤트리거 테스트 */
.box {
    width: calc(100% - 27rem);
    margin-left: 18rem;
    min-height: 25rem;
    display: block;
    position: relative;
    padding: 0;
    &.t01 {
        background-color: white;
        padding: 3.5rem 0 0 0;
    }
    &.t02 {
        background-color: $blue-200;
    }
    &.t03 {
        background-color: $red-100;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    &.t04 {
        background-color: $red-200;
    }
}

footer {
    background-color: $gray-100;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 200;
    height: 18rem;
    p {
        opacity: .5;
    }
}

.testDiv {
    border: 1px solid $gray-100;
    margin-top: 1.5rem;
    border-radius: .5rem;
    padding: 2rem;
    width: 20rem;
    p {
        font-size: 1.6rem;
    }
}

.accordion {
    background-color: #fff;
    ul {
        > li {
            border-top: 1px solid $gray-100;
            .desc {
                transition: all .3s;
                height: 0;
                overflow: hidden;
                font-size: 1.6rem;
                background-color: $gray-400;
                p {
                    padding: 1rem 2rem;
                }
            }
            &.on {
                .desc {
                    z-index: 1;
                    height: 12rem;
                }
            }
            .title {
                display: flex;
                align-items: center;
                padding: 2rem;
                font-size: 2rem;
                cursor: pointer;
            }
        }
        border-bottom: 1px solid $gray-100;
    }
}


.value-scroll {
    display: block; position: fixed; bottom: 3rem; right: 3rem; font-size: 3rem; font-weight: 700;
    opacity: .3;
    &:before {
        content: "scroll : ";
        font-size: 1.4rem;
    }
}
.value-scrollc {
    display: block; position: fixed; bottom: 8rem; right: 3rem; font-size: 3rem; font-weight: 700;
    opacity: .3;
    &:before {
        content: "scroll : ";
        font-size: 1.4rem;
    }
}
.con-scroll {
    transition: all .5s;
    transform: translateY(10rem);
    opacity: 0;
}
.con-scroll.zoom {
	transform: translateY(0);
    opacity: 1;
}