h1,
h2 {
    color: $primary-color;
    font-size: $normalSize + 34px;
}
h3 {
    color: $danger-color;
    font-size: $normalSize + 14px;
}
h4 {
    color: $blue-200;
}
label {
    font-size: $normalSize - 2px;
}
button {
    position: relative;
    border: 1px solid $gray-100;
    background-color: $white;
    padding: 10px 20px;
    border-radius: 6px;
    z-index: 1;
    &:hover {
        border-color: $red-200;
        color: $red-200;
    }
}
.hello {
    position: relative;
    border: 1px solid $gray-300;
    padding: 20px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: all .4s;
    p {
        font-size: $normalSize - 2px;
        line-height: 1.6;
        visibility: hidden;
        opacity: 0;
        transition: all .05s;
        transition-delay: .05s;
    }
    &.clicked {
        visibility: visible;
        opacity: 1;
        p {
            visibility: visible;
            opacity: 1;
            transition: all .2s;
            transition-delay: .2s;
        }
    }
}
h1 {
    width: 10rem;
    height: 10rem;
    background: url(./../images/front-logo.svg) no-repeat center;
}
.btn-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    padding: 0 .5rem;
    font-size: 2rem;
    text-decoration: none;
    transition: all .3s;
    font-weight: 700;
    color: $gray-100;
    &:after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: .2rem;
        background: $primary-color;
        bottom: 0;
        transition: all .3s;
    }
    &:hover {
        color: $primary-color;
        &:after {
            width: 100%;
        }
    }
}