/* mobile */
@media (max-width: 800px) {
    .lottie-area {
    }
    .mp-area {
        > video {
            width: 400%;
        }
    }
    main {
        left: 0;
    }
    aside {
        margin-left: -8rem;
        &.active {
            width: 50%;
            margin-left: 0;
        }
        > ul {
            > li {
                > a {
                    &.btn-home {
                        height: 6rem;
                        background-size: 6rem;
                    }
                }
                &:has(.btn-home) {
                    height: 6rem;
                }
            }
        }
        > .btn-menuToggle {
            right: -7rem;
            width: 5rem;
            height: 5rem;
        }
    }

    .box {
        width: 100%;
        &.t03 {
            width: 100%;
        }
    }

    .btn-link {
        padding: 2.2rem 3.2rem;
        p {
            font-size: 1.8rem;
            font-weight: 400;
            &.tit {
                font-size: 2.2rem;
                font-weight: 400;
                margin-bottom: 1rem;
                span {
                    font-weight: 700;
                }
            }
        }
    }
}