/* mobile */
@media (max-width: 800px) {
    .lottie-area {
    }
    .mp-area {
        > video {
            width: 400%;
        }
    }
    main {
        left: 0;
    }
    aside {
        margin-left: -8rem;
        &.active {
            width: 50%;
            margin-left: 0;
        }
        > ul {
            > li {
                > a {
                    &.btn-home {
                        height: 6rem;
                        background-size: 6rem;
                    }
                }
                &:has(.btn-home) {
                    height: 6rem;
                }
            }
        }
        > .btn-menuToggle {
            right: -7rem;
        }
    }

    .box {
        width: 100%;
        margin-left: 0;
        padding: 0 2rem;
        min-height: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        &.t01 {
            padding: 6rem 2rem 0 2rem;
            > div {
                display: block;
                width: 100%;
            }
        }
        &.t03 {
            width: 100%;
        }
    }

    .btn-link {
        padding: 2.2rem 3.2rem;
        p {
            font-size: 1.8rem;
            font-weight: 400;
            &.tit {
                font-size: 2.2rem;
                font-weight: 400;
                margin-bottom: 1rem;
                span {
                    font-weight: 700;
                }
            }
        }
    }

    .pr-card {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        box-shadow: .5rem .5rem 1rem .5rem rgba(0,0,0,.08);
        border-radius: 2rem;
        padding: 2.5rem 2rem 2rem;
        transition: all .3s;
        .txt-small {
            display: block;
            margin-bottom: .5rem;
        }
        .txt-large {
            font-size: 2rem;
            font-weight: 700;
        }
        .txt-skills:not(:first-child) {
            margin-left: 1rem;
        }
        .txt-skills {
            font-size: 1.3rem;
        }
    }
}

@media (max-width: 1400px) {
    .pr-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 2rem;
        .pr-card {
            width: 100%;
        }
    }
}