// Colors
$white: #ffffff;
$black: #222222;
$gray-100: #333333;
$gray-200: #969696;
$gray-300: #d1d1d1;
$gray-400: #eeeeee;
$red-100 : #e71f2a;
$red-200 : #e98287;
$blue-100 : #214bbe;
$blue-200 : #697be6;
$primary-color: $blue-100;
$danger-color: $red-100;
$code-blue: #6d8fff;
$code-lingtblue: #6ecaff;
$code-lingtblue2: #b2e7ff;
$code-yellow: #fffeb7;
$code-orange: #ffa86e;
$code-purple: #ff8df9;
$code-green: #d3ffae;

// Size
$normalSize : 16px;
