*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: inherit;
}
html,
body {
	height: 100%;
	font-family: 'Pretendard';
	font-weight: 500;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
	margin: 0;
	padding: 0;
}
ol,
ul,
li,
dt,
dd {
	padding: 0;
	margin: 0;
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
p,
span,
legend {
	border: none;
	margin: 0;
	padding: 0;
}
button {
	cursor: pointer;
	font-weight: 500;
	appearance: none;
	box-sizing: border-box;
	box-shadow: none;
	background-color: transparent;
	transition: all 0.2s ease;
}
// 접근성
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0); /* 구형 브라우저를 위해 사용 */
	clip-path: polygon(0 0, 0 0, 0 0); /* inset(50%) 와 동일한 표현 */
	border: 0;
}
